@font-face {
    font-family: 'Trajan Pro';
    src: './assets/fonts/trajanpro/TrajanPro-Regular.ttf';
    font-style: normal;
  }

  @font-face {
    font-family: 'Trajan Pro';
    src: './assets/fonts/trajanpro/TrajanPro-bold.ttf';
    font-style: bold;
  }

  @font-face {
    font-family: 'Trajan Pro';
    src: './assets/fonts/trajanpro/TrajanPro.ttf';
    font-style: italic;
  }

  @font-face {
    font-family: 'Gilroy';
    src: './assets/fonts/gilroy/Gilroy-Light.otf';
    font-style: light;
  }


*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    min-width: 100vw;
    font-family: sans-serif;
}